<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        form{
            line-height: 2em;
        }
        form>input,formselect{
            padding: 5px 10px;
            border:1px solid #888888;
            border-radius:5px;/*圓角*/
        }
        form>.ok{
            color:#00ff00;
        }
        form>input:valid+.ok{
            display:inline;
        }
        form>input:invalid+.ok{
            display: none;
        }
    </style>
</head>
<body>

<h3>修改密碼</h3>
<form onsubmit="alert('表單送出');">
    帳號:<br>
    <input type="text" required placeholder="4-12英數字" pattern="[0-9A-z]{4,12}"/>
    <span class="ok">ok</span><br><!--pattern格式 required需要!-->
    密碼:<br>
    <input type="password" required placeholder="8-16英數字" pattern="[0-9A-z]{8,16}"/>
    <span class="ok">ok</span><br>
    確認密碼:<br>
    <input type="password" required placeholder="8-16英數字" pattern="[0-9A-z]{8,16}"/>
    <span class="ok">ok</span><br>

</select><br><br>
    <input type="submit" value="送出資料">
</form>

</body>
</html>